.wrapperCheckbox {
  display: flex;
  gap: 8px;
  align-items: center;

  .disabled {
    pointer-events: none;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;

    &:disabled {
      cursor: initial;
    }

    &:hover {
      background-color: #333333;
      border-radius: 50%;
    }

    &:focus-visible {
      background-color: #808080;
      border-radius: 50%;
    }

    &:active {
      background-color: #808080;
      border-radius: 50%;
    }

    button {
      all: unset;
    }

    .checkboxRoot {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("./../../../assets/checkboxUnchecked.svg");

      &:disabled {
        background-image: url("./../../../assets/checkboxUncheckedDisabled.svg");
      }
    }

    .checkboxIndicator {
      position: relative;
      z-index: 5;
      width: 24px;
      height: 24px;
    }
  }


  .label {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
  }
}