.card {
  padding: 33px 36px 29px;
  min-width: 420px;

  h1 {
    text-align: center;
    margin-bottom: 27px;
  }

  .form {
    width: 100%;
  }

  .forgot {
    display: block;
    text-align: right;
    cursor: pointer;
    color: var(--color-light-100);
    margin-bottom: 66px;
    text-decoration: none;
  }

  .haveAccount {
    display: block;
    margin-top: 20px;
    margin-bottom: 11px;
    color: var(--color-light-900);
  }

  .signUp {
    color: var(--color-accent-500);
    text-decoration: underline;
  }
}

.textField {
  margin-bottom: 12px;
  text-align: left;
}

.textField:not(:last-of-type) {
  margin-bottom: 24px;
}

.checkbox {
  margin-left: -6px;
  margin-top: 12px;
  margin-bottom: 12px;
}