.card {
  padding: 33px 36px 29px;
  min-width: 420px;

  h1 {
    text-align: center;
    margin-bottom: 51px;
  }

  .forgot {
    display: block;
    text-align: right;
    cursor: pointer;
    color: var(--color-light-100);
    margin-bottom: 66px;
  }

  .text {
    display: block;
    margin-bottom: 65px;
    opacity: 0.5;
    color: var(--color-light-900);
    text-align: left;
  }

  .signIn {
    color: var(--color-accent-500);
    text-decoration: underline;
  }

  .haveAccount {
    display: block;
    margin-top: 20px;
    margin-bottom: 11px;
    color: var(--color-light-900);
  }
}

.textField {
  margin-bottom: 19px;
  text-align: left;
}
