  .container {
    max-width: 1006px;
    height: 100%;
    margin: 0 auto;

    .back {
      display: flex;
      margin-top: 24px;
      gap: 6px;
      align-items: center;
      text-decoration: none;
    }

    .topLine {
      display: flex;
      justify-content: space-between;
      margin-top: 33px;
      .name{
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }

    .secondLine {
      margin-top: 69px;
      margin-bottom: 30px;
      text-align: center;
      color: var(--color-dark-100);
    }

    .button {
      display: flex;
      justify-content: center;
    }

    .settingBar {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-top: 24px;
      margin-bottom: 24px;


      .flex {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .pagination {
      margin-top: 36px;
    }
  }